body {
    background-image: url(img/bg-admin.jpg) !important;
    background-size: cover !important;
    background-repeat: no-repeat !important;
}

h1 {
display:none;
}

#login{
    padding-top: 300px !important;
}

#backtoblog {
    background-color: #666;
    box-shadow: 0 1px 3px #666;
    left: 0;
    margin: 0 !important;
    padding: 10px !important;
    position: fixed;
    text-align: left;
    text-shadow: 0 0 0 !important;
    top: 0;
    width: 100%;
}

.login #backtoblog a {
    color: #FFFFFF !important;
}